body {
	display: flex;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

#rat-button{
	background-color: pink;
  font-size: 90px;
  border-radius: 126px;
  border: none;
  padding: 51px;
}